#slides-nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: none;
  z-index: 9999;

  @extend %wrapper;

  ul {
    position: relative;
    margin: 0;
    padding: 1.5em 0;
    list-style: none;

    @include clearfix;
    @include transition(transform 250ms);
    @include transform(translate3d(0, 0, 0));

    &.hidden {
      @include transform(translate3d(0, 100%, 0));
    }
  }

  li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    height: 0.25em;

    &,
    a {
      background-color: material-color("red", "900");

      @include transition(background-color 250ms);
    }

    a {
      display: block;
      position: absolute;
      top: -0.4em;
      right: -0.4em;
      border-radius: 1em;
      z-index: 999;

      @include size(1em);
    }

    span {
      display: none;
    }

    &:first-of-type a {
      left: -0.25em;
      right: auto;
    }

    &:last-of-type a {
      right: -0.25em;
    }

    &.visited {
      &,
      a {
        background-color: darken(material-color("red", "900"), 10%);
      }
    }
  }

  &:hover {
    li {
      &,
      a {
        background-color: material-color("red", "300");
      }

      &.visited {
        &,
        a {
          background-color: material-color("red", "100");
        }
      }

      a,
      &.visited a {
        &:hover,
        &:active {
          background-color: material-color("amber");

          @include transition-duration(0ms);
        }
      }
    }
  }
}

#current-slide-number {
  position: fixed;
  right: 0.5em;
  bottom: 0.5em;
  font: {
    family: $montserrat;
    size: 4em;
    weight: 700;
  };
  line-height: 1;
  color: darken(material-color("red", "900"), 5%);

  @include transition(transform 250ms);
  @include transform(scale3d(1, 1, 1));

  &.hidden {
    @include transform(scale3d(0, 0, 1));
  }
}

.slides-nav-control {
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  height: 1em;
  margin: auto;
  padding: 0.25em;
  z-index: 999;
  font-size: 3em;
  line-height: 1;
  color: material-color("red", "800");

  @include transition(color 250ms);

  span {
    display: none;
  }

  &:hover,
  &:active {
    color: white;
  }

  &.prev-slide {
    left: 0;

    &:before {
      @include icon("chevron-left");
    }
  }

  &.next-slide {
    right: 0;

    &:before {
      @include icon("chevron-right");
    }
  }
}
