@mixin material-shadow($size: 15px, $opacity: 0.24, $inset: null) {
  $shadow1: 0 ($size * 1) ($size * 3.333) 0 rgba(black, $opacity * 0.79167);
  $shadow2: 0 ($size * 0.333) $size 0 rgba(black, $opacity);

  box-shadow: $inset $shadow1, $inset $shadow2;
}
